.takeout .x-col {
	padding: 0px;
}

.takeout .takeout-list-row {
	border-bottom: 1px solid #E5E5E5;
}

/* main color */
.takeout .x-titlebar {
	background-color:#35b3e4;
}


.fontColor1{color:#FFBB66;} 

.div8backImg{background:url(./img/g2.jpg) }

.fontColor2{color:black}

.img1{ height:170px;}

.fontColor3{color:#BEBEBE;}
#photoDiv img{ border-radius:50%}


